In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
data_path = './data/'

df = pd.read_csv(data_path+'samsung.csv')
df

           Date     Open     High      Low    Close     Adj Close    Volume
0    2021-05-10  82300.0  83500.0  81800.0  83200.0  81648.695313  19385027
1    2021-05-11  82500.0  82600.0  81100.0  81200.0  79685.976563  28996680
2    2021-05-12  80800.0  81200.0  79800.0  80000.0  78508.359375  35812268
3    2021-05-13  78900.0  79600.0  78400.0  78500.0  77036.328125  31490096
4    2021-05-14  79000.0  80300.0  78900.0  80100.0  78606.484375  16450920
..          ...      ...      ...      ...      ...           ...       ...
241  2022-05-02  66600.0  67600.0  66500.0  67300.0  67300.000000  14106184
242  2022-05-03  67400.0  68400.0  67300.0  67500.0  67500.000000  14168875
243  2022-05-04  68000.0  68400.0  67500.0  67900.0  67900.000000  11505248
244  2022-05-06  67000.0  67100.0  66500.0  66500.0  66500.000000  14356156
245  2022-05-09  66300.0  66900.0  66100.0  66100.0  66100.000000  11755356

[246 rows x 7 columns]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       246 non-null    object
 1   Open       246 non-null    float64
 2   High       246 non-null    float64
 3   Low        246 non-null    float64
 4   Close      246 non-null    float64
 5   Adj Close  246 non-null    float64
 6   Volume     246 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.6+ KB

In [32]:
def date_transform(df):
    df['Date'] = pd.to_datetime(df['Date'])
    return df

In [34]:
date_transform(df)

          Date     Open     High      Low    Close     Adj Close    Volume
0   2021-05-10  82300.0  83500.0  81800.0  83200.0  81648.695313  19385027
1   2021-05-11  82500.0  82600.0  81100.0  81200.0  79685.976563  28996680
2   2021-05-12  80800.0  81200.0  79800.0  80000.0  78508.359375  35812268
3   2021-05-13  78900.0  79600.0  78400.0  78500.0  77036.328125  31490096
4   2021-05-14  79000.0  80300.0  78900.0  80100.0  78606.484375  16450920
..         ...      ...      ...      ...      ...           ...       ...
241 2022-05-02  66600.0  67600.0  66500.0  67300.0  67300.000000  14106184
242 2022-05-03  67400.0  68400.0  67300.0  67500.0  67500.000000  14168875
243 2022-05-04  68000.0  68400.0  67500.0  67900.0  67900.000000  11505248
244 2022-05-06  67000.0  67100.0  66500.0  66500.0  66500.000000  14356156
245 2022-05-09  66300.0  66900.0  66100.0  66100.0  66100.000000  11755356

[246 rows x 7 columns]

In [40]:
df.set_index('Date', inplace=True)
df

               Open     High      Low    Close     Adj Close    Volume
Date
2021-05-10  82300.0  83500.0  81800.0  83200.0  81648.695313  19385027
2021-05-11  82500.0  82600.0  81100.0  81200.0  79685.976563  28996680
2021-05-12  80800.0  81200.0  79800.0  80000.0  78508.359375  35812268
2021-05-13  78900.0  79600.0  78400.0  78500.0  77036.328125  31490096
2021-05-14  79000.0  80300.0  78900.0  80100.0  78606.484375  16450920
...             ...      ...      ...      ...           ...       ...
2022-05-02  66600.0  67600.0  66500.0  67300.0  67300.000000  14106184
2022-05-03  67400.0  68400.0  67300.0  67500.0  67500.000000  14168875
2022-05-04  68000.0  68400.0  67500.0  67900.0  67900.000000  11505248
2022-05-06  67000.0  67100.0  66500.0  66500.0  66500.000000  14356156
2022-05-09  66300.0  66900.0  66100.0  66100.0  66100.000000  11755356

[246 rows x 6 columns]

In [63]:
df['2021-06']

C:\Users\hoon\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.7_qbz5n2kfra8p0\LocalCache\local-packages\Python37\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

               Open     High      Low    Close     Adj Close    Volume
Date
2021-06-01  80500.0  81300.0  80100.0  80600.0  79097.171875  14058401
2021-06-02  80400.0  81400.0  80300.0  80800.0  79293.445313  16414644
2021-06-03  81300.0  83000.0  81100.0  82800.0  81256.148438  29546007
2021-06-04  82700.0  82700.0  81500.0  82200.0  80667.335938  18112259
2021-06-07  82700.0  82800.0  81600.0  81900.0  80372.929688  16496197
2021-06-08  82300.0  82600.0  81800.0  81900.0  80372.929688  12781226
2021-06-09  81500.0  82000.0  81100.0  81100.0  79587.843750  14908823
2021-06-10  81300.0  81400.0  80900.0  81000.0  79489.710938  17586995
2021-06-11  81200.0  81700.0  80700.0  81000.0  79489.710938  14087962
2021-06-14  80800.0  80900.0  80500.0  80500.0  78999.023438  10550078
2021-06-15  80900.0  81200.0  80600.0  80900.0  79391.570313  10075685
2021-06-16  81500.0  81900.0  81100.0  81800.0  80274.789063  14999855
2021-06-17  81100.0  81300.0  80700.0  80900.0  79391.570313  14007385
2021-06-18  81100.0  81100.0  80500.0  80500.0  78999.023438  14916721
2021-06-21  79700.0  80000.0  79600.0  79900.0  78410.226563  16063340
2021-06-22  80200.0  80300.0  79900.0  80000.0  78508.359375  11773365
2021-06-23  80500.0  80600.0  79900.0  80100.0  78606.484375  13856548
2021-06-24  80400.0  81400.0  80100.0  81200.0  79685.976563  18771080
2021-06-25  81500.0  81900.0  81200.0  81600.0  80078.523438  13481405
2021-06-28  81700.0  82000.0  81600.0  81900.0  80372.929688  11578529
2021-06-29  81900.0  82100.0  80800.0  81000.0  79841.640625  15744317
2021-06-30  81100.0  81400.0  80700.0  80700.0  79545.929688  13288643

In [65]:
# shift 함수
# 데이터에 시차를 줌
# default period=1

df['Close_lag_1'] = df['Close'].shift()
df

,Open,High,Low,Close,Adj Close,Volume,Close_lag_1
Date,,,,,,,
2021-05-10,82300.0,83500.0,81800.0,83200.0,81648.695313,19385027,NaN
2021-05-11,82500.0,82600.0,81100.0,81200.0,79685.976563,28996680,83200.0
2021-05-12,80800.0,81200.0,79800.0,80000.0,78508.359375,35812268,81200.0
2021-05-13,78900.0,79600.0,78400.0,78500.0,77036.328125,31490096,80000.0
2021-05-14,79000.0,80300.0,78900.0,80100.0,78606.484375,16450920,78500.0
...,...,...,...,...,...,...,...
2022-05-02,66600.0,67600.0,66500.0,67300.0,67300.000000,14106184,67400.0
2022-05-03,67400.0,68400.0,67300.0,67500.0,67500.000000,14168875,67300.0
2022-05-04,68000.0,68400.0,67500.0,67900.0,67900.000000,11505248,67500.0
2022-05-06,67000.0,67100.0,66500.0,66500.0,66500.000000,14356156,67900.0
2022-05-09,66300.0,66900.0,66100.0,66100.0,66100.000000,11755356,66500.0

In [66]:
# pct_change 함수
# = percentage change
# 말 그대로 how much the value has changed in percentage

df['pct_change'] = df['Close'].pct_change()
df

,Open,High,Low,Close,Adj Close,Volume,Close_lag_1,pct_change
Date,,,,,,,,
2021-05-10,82300.0,83500.0,81800.0,83200.0,81648.695313,19385027,NaN,NaN
2021-05-11,82500.0,82600.0,81100.0,81200.0,79685.976563,28996680,83200.0,-0.024038
2021-05-12,80800.0,81200.0,79800.0,80000.0,78508.359375,35812268,81200.0,-0.014778
2021-05-13,78900.0,79600.0,78400.0,78500.0,77036.328125,31490096,80000.0,-0.018750
2021-05-14,79000.0,80300.0,78900.0,80100.0,78606.484375,16450920,78500.0,0.020382
...,...,...,...,...,...,...,...,...
2022-05-02,66600.0,67600.0,66500.0,67300.0,67300.000000,14106184,67400.0,-0.001484
2022-05-03,67400.0,68400.0,67300.0,67500.0,67500.000000,14168875,67300.0,0.002972
2022-05-04,68000.0,68400.0,67500.0,67900.0,67900.000000,11505248,67500.0,0.005926
2022-05-06,67000.0,67100.0,66500.0,66500.0,66500.000000,14356156,67900.0,-0.020619
2022-05-09,66300.0,66900.0,66100.0,66100.0,66100.000000,11755356,66500.0,-0.006015

In [73]:
# diff 함수
# diff_1 = value_2 - value_1
# 즉, 현재값 - 이전값

df['Close_diff'] = df['Close'].diff()
df

,Open,High,Low,Close,Adj Close,Volume,Close_lag_1,pct_change,Close_diff
Date,,,,,,,,,
2021-05-10,82300.0,83500.0,81800.0,83200.0,81648.695313,19385027,NaN,NaN,NaN
2021-05-11,82500.0,82600.0,81100.0,81200.0,79685.976563,28996680,83200.0,-0.024038,-2000.0
2021-05-12,80800.0,81200.0,79800.0,80000.0,78508.359375,35812268,81200.0,-0.014778,-1200.0
2021-05-13,78900.0,79600.0,78400.0,78500.0,77036.328125,31490096,80000.0,-0.018750,-1500.0
2021-05-14,79000.0,80300.0,78900.0,80100.0,78606.484375,16450920,78500.0,0.020382,1600.0
...,...,...,...,...,...,...,...,...,...
2022-05-02,66600.0,67600.0,66500.0,67300.0,67300.000000,14106184,67400.0,-0.001484,-100.0
2022-05-03,67400.0,68400.0,67300.0,67500.0,67500.000000,14168875,67300.0,0.002972,200.0
2022-05-04,68000.0,68400.0,67500.0,67900.0,67900.000000,11505248,67500.0,0.005926,400.0
2022-05-06,67000.0,67100.0,66500.0,66500.0,66500.000000,14356156,67900.0,-0.020619,-1400.0
2022-05-09,66300.0,66900.0,66100.0,66100.0,66100.000000,11755356,66500.0,-0.006015,-400.0

In [75]:
# rolling 함수
# 이동평균 구해줌 (mean of N days)

df['MA'] = df['Close'].rolling(window=5).mean()    # 5-days mean
df

,Open,High,Low,Close,Adj Close,Volume,Close_lag_1,pct_change,Close_diff,MA
Date,,,,,,,,,,
2021-05-10,82300.0,83500.0,81800.0,83200.0,81648.695313,19385027,NaN,NaN,NaN,NaN
2021-05-11,82500.0,82600.0,81100.0,81200.0,79685.976563,28996680,83200.0,-0.024038,-2000.0,NaN
2021-05-12,80800.0,81200.0,79800.0,80000.0,78508.359375,35812268,81200.0,-0.014778,-1200.0,NaN
2021-05-13,78900.0,79600.0,78400.0,78500.0,77036.328125,31490096,80000.0,-0.018750,-1500.0,NaN
2021-05-14,79000.0,80300.0,78900.0,80100.0,78606.484375,16450920,78500.0,0.020382,1600.0,80600.0
...,...,...,...,...,...,...,...,...,...,...
2022-05-02,66600.0,67600.0,66500.0,67300.0,67300.000000,14106184,67400.0,-0.001484,-100.0,66120.0
2022-05-03,67400.0,68400.0,67300.0,67500.0,67500.000000,14168875,67300.0,0.002972,200.0,66400.0
2022-05-04,68000.0,68400.0,67500.0,67900.0,67900.000000,11505248,67500.0,0.005926,400.0,66980.0
2022-05-06,67000.0,67100.0,66500.0,66500.0,66500.000000,14356156,67900.0,-0.020619,-1400.0,67320.0
2022-05-09,66300.0,66900.0,66100.0,66100.0,66100.000000,11755356,66500.0,-0.006015,-400.0,67060.0

In [76]:
print(type(df['MA']))

<class 'pandas.core.series.Series'>

In [77]:
# resample
# 금융 데이터는 upsampling 보다 downsampling을 더 많이 사용함

# resample 찾아보기!!!

idx = pd.date_range(start='2021-05', end='2021-10')
series = pd.Series(range(len(idx)), index=idx)
series

2021-05-01      0
2021-05-02      1
2021-05-03      2
2021-05-04      3
2021-05-05      4
             ...
2021-09-27    149
2021-09-28    150
2021-09-29    151
2021-09-30    152
2021-10-01    153
Freq: D, Length: 154, dtype: int64

In [79]:
series.resample(rule='M').sum()

2021-05-31     465
2021-06-30    1365
2021-07-31    2356
2021-08-31    3317
2021-09-30    4125
2021-10-31     153
Freq: M, dtype: int64

In [80]:
series.resample(rule='M').last()

2021-05-31     30
2021-06-30     60
2021-07-31     91
2021-08-31    122
2021-09-30    152
2021-10-31    153
Freq: M, dtype: int64

In [82]:
# daily return(일별 수익률) 계산

df['daily_rt'] = df['Adj Close'].pct_change()
df

,Open,High,Low,Close,Adj Close,Volume,Close_lag_1,pct_change,Close_diff,MA,daily_rt
Date,,,,,,,,,,,
2021-05-10,82300.0,83500.0,81800.0,83200.0,81648.695313,19385027,NaN,NaN,NaN,NaN,NaN
2021-05-11,82500.0,82600.0,81100.0,81200.0,79685.976563,28996680,83200.0,-0.024038,-2000.0,NaN,-0.024039
2021-05-12,80800.0,81200.0,79800.0,80000.0,78508.359375,35812268,81200.0,-0.014778,-1200.0,NaN,-0.014778
2021-05-13,78900.0,79600.0,78400.0,78500.0,77036.328125,31490096,80000.0,-0.018750,-1500.0,NaN,-0.018750
2021-05-14,79000.0,80300.0,78900.0,80100.0,78606.484375,16450920,78500.0,0.020382,1600.0,80600.0,0.020382
...,...,...,...,...,...,...,...,...,...,...,...
2022-05-02,66600.0,67600.0,66500.0,67300.0,67300.000000,14106184,67400.0,-0.001484,-100.0,66120.0,-0.001484
2022-05-03,67400.0,68400.0,67300.0,67500.0,67500.000000,14168875,67300.0,0.002972,200.0,66400.0,0.002972
2022-05-04,68000.0,68400.0,67500.0,67900.0,67900.000000,11505248,67500.0,0.005926,400.0,66980.0,0.005926
2022-05-06,67000.0,67100.0,66500.0,66500.0,66500.000000,14356156,67900.0,-0.020619,-1400.0,67320.0,-0.020619
2022-05-09,66300.0,66900.0,66100.0,66100.0,66100.000000,11755356,66500.0,-0.006015,-400.0,67060.0,-0.006015